[submodule "social-links-profile"]
	path = Vanilla/social-links-profile
	url = https://github.com/jambanix/frontendmentor_social-links-profile
[submodule "blog-preview-card"]
	path = Vanilla/blog-preview-card
	url = https://github.com/jambanix/frontendmentor_blog-preview-card
[submodule "recipe-page"]
	path = Vanilla/recipe-page
	url = https://github.com/jambanix/frontendmentor_recipe-page
[submodule "workit-landing-page"]
	path = Vanilla/workit-landing-page
	url = https://github.com/jambanix/frontendmentor_workit-landing-page
[submodule "results-summary-component"]
	path = Vanilla/results-summary-component
	url = https://github.com/jambanix/frontendmentor_results-summary-component
[submodule "product-preview-card"]
	path = Vanilla/product-preview-card
	url = https://github.com/jambanix/frontendmentor_product-preview-card
[submodule "skilled-elearning-landing-page"]
	path = Vanilla/skilled-elearning-landing-page
	url = https://github.com/jambanix/frontendmentor_skilled-elearning-landing-page
[submodule "faq-accordion"]
	path = Vanilla/faq-accordion
	url = https://github.com/jambanix/frontendmentor_faq-accordion
[submodule "interactive-rating-component"]
	path = Vanilla/interactive-rating-component
	url = https://github.com/jambanix/frontendmentor_interactive-rating-component
[submodule "article-preview-component"]
	path = Vanilla/article-preview-component
	url = https://github.com/jambanix/frontendmentor_article-preview-component
[submodule "base-apparel-coming-soon-page"]
	path = Vanilla/base-apparel-coming-soon-page
	url = https://github.com/jambanix/frontendmentor_base-apparel-coming-soon-page
[submodule "intro-component-with-signup-form"]
	path = Vanilla/intro-component-with-signup-form
	url = https://github.com/jambanix/frontendmentor_intro-component-with-signup-form
[submodule "product-list-with-cart"]
	path = React/product-list-with-cart
	url = https://github.com/jambanix/frontendmentor_product_list_with_cart_react.git
[submodule "React/frontendmentor_github_user_search_app_react"]
	path = React/github-user-search-app
	url = https://github.com/jambanix/frontendmentor_github_user_search_app_react
