[submodule "social-links-profile"]
	path = social-links-profile
	url = https://github.com/jambanix/frontendmentor_social-links-profile
[submodule "blog-preview-card"]
	path = blog-preview-card
	url = https://github.com/jambanix/frontendmentor_blog-preview-card
[submodule "recipe-page"]
	path = recipe-page
	url = https://github.com/jambanix/frontendmentor_recipe-page
