[submodule "social-links-profile"]
	path = social-links-profile
	url = https://github.com/jambanix/frontendmentor_social-links-profile
[submodule "blog-preview-card"]
	path = blog-preview-card
	url = https://github.com/jambanix/frontendmentor_blog-preview-card
[submodule "recipe-page"]
	path = recipe-page
	url = https://github.com/jambanix/frontendmentor_recipe-page
[submodule "workit-landing-page"]
	path = workit-landing-page
	url = https://github.com/jambanix/frontendmentor_workit-landing-page
[submodule "results-summary-component"]
	path = results-summary-component
	url = https://github.com/jambanix/frontendmentor_results-summary-component
[submodule "product-preview-card"]
	path = product-preview-card
	url = https://github.com/jambanix/frontendmentor_product-preview-card
[submodule "skilled-elearning-landing-page"]
	path = skilled-elearning-landing-page
	url = https://github.com/jambanix/frontendmentor_skilled-elearning-landing-page
[submodule "faq-accordion"]
	path = faq-accordion
	url = https://github.com/jambanix/frontendmentor_faq-accordion
